WANDB_API_KEY=
MODEL_PATH=src/weights/best_model.pth
DEVICE=cuda
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
MODEL_STORE_DIR=src/weights/model_store
CORS_ALLOW_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175
